html {
  anchor-name: --main-body-anchor;
}

:root {
  --text-black: #313131;
  --generic-black: #212427;
  --site-background: #f7fbfe;
}

body {
  background-color: var(--site-background);
  color: var(--generic-black);
  margin: 0 1.6rem;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

header {
  anchor-name: --infobox;
}

main a:first-of-type {
  position-anchor: --infobox;
  position: absolute;
  bottom: calc(anchor(bottom) + 6px);
  /* left: calc(anchor(left) - 8px); */
}

body p {
  font-family: serif;
  color: var(--text-black);
}

.hero-image {
  max-width: 100%;
  /*  for pt's */
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  image-rendering: optimizeQuality;
}

.sub-heading {
  color: gray;
}

.my-toggle {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 18px;
}

.hide-accordion {
  display: none;
}

.principles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 16px;
}

.fast-nav {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: gainsboro;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  z-index: 1000;
}

.coda {
  max-width: 80%;
  margin: auto;
  text-align: center;
  blockquote {
    color: var(--text-black);
    text-align: left;
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 38ch;
    width: 100vw;
    margin: 0 1rem;
  }

  .hilite {
    color: crimson;
  }
}

.summary {
  max-width: 58ch;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

/* area {
	position: relative;
}
area[title]:hover::after {
	background-color: crimson;
	content: attr(title);
	position: absolute;
	top: -100%;
	left: 0;
} */
